<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>To-Do List</title>
  </head>
  <body>
    <div class="container" id="heading">
      <h1><%= dateFromServer %></h1>
    </div>

    <div class="container" id="form">
      <div class="todo-list">
        <ul>
          <% todoItems.forEach(function(item) { %>
          <li><%= item.description %></li>
          <% }); %>
        </ul>
      </div>
      <form action="/" method="POST" class="form">
        <input
          type="text"
          name="newTask"
          id="New Task"
          class="form__task"
          placeholder="New Task"
        />
        <button type="submit" class="form__btn">Submit</button>
      </form>
    </div>
  </body>
</html>
